APP_ENVIRONMENT = production

OIDC_CLIENT_ID = 
OIDC_CLIENT_SECRET = 
OIDC_ISSUER = 
OIDC_REALM = 

SPREE_API_KEY = 

ELASTIC_DIR = 
ELASTIC_USR = 
ELASTIC_PWD = 
ELASTIC_PORT = 

MONGO_ENDPOINT = 
MONGO_DATABASE = 

ACTION_LOGS_URL =  https://kong.aliad.as/action-logs
KEYCLOAK_TOKEN_URL = https://keycloak.aliad.as/auth/realms/aliadas/protocol/openid-connect/token
SPREE_PRODUCTS_URL = https://kong.aliad.as/ecommerce/api/search/filtered/products
